<!DOCTYPE html>
<html>

<head>

    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />

    <script>
        L_NO_TOUCH = false;
        L_DISABLE_3D = false;
    </script>

    <style>
        html,
        body {
            width: 100%;
            height: 100%;
            margin: 0;
            padding: 0;
        }
    </style>
    <style>
        #map {
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
        }
    </style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script
        src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/all.min.css" />
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css" />
    <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css" />

    <!-- MY STYLES -->
    <link rel="stylesheet" href="../static/css/normalize.css">
    <link rel="stylesheet" href="../static/css/styles.css">


    <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <style>
        #map_be448aef8317b899d267abc2768059e0 {
            position: relative;
            width: 100.0%;
            height: 100.0%;
            left: 0.0%;
            top: 0.0%;
        }

        .leaflet-container {
            font-size: 1rem;
        }
    </style>

</head>

<body>

    <!-- MAP -->
    <div class="folium-map" id="map_be448aef8317b899d267abc2768059e0"></div>

    <!-- PANEL -->
    <div class="my-styles panel-container">
        <!-- PANEL -->
        <div class="my-styles panel">
            <!-- TITLE -->
            <h1>Aerolínea<br>PRO</h1>

            <hr>

            <!-- INSTRUCTIONS -->
            <section class="instructions">
                <h2>Cómo usar</h2>
                <div class="instructions-box">
                    <p>
                        Haga clic en cualquier de los 2 botones o siga las instrucciones para
                        interactuar con la herramienta.
                        <br><br>
                        Puede seleccionar cualquiera de las 2 opciones que están abajo.
                    </p>
                </div>
            </section>

            <hr>

            <!-- TOOLS -->
            <div class="tools">

                <div class="tools-container" id="tools-container">

                    <h3>Ruta Aérea Principal</h3>

                    <hr>
                    <section class="tool prim">
                        <p>Para hacerlo por el algoritmo PRIM, debe seleccionar un aeropuerto o la opción "aleatorio".
                        </p>
                        <select name="" id="airports-list">
                            <option value="random">Aleatorio</option>
                        </select>
                        <button class="tool-button prim">Prim</button>
                    </section>

                    <hr>
                    <section class="tool kruskal">
                        <button class="tool-button kruskal">Kruskal</button>
                    </section>

                    <hr>
                    <section class="tool reset">
                        <p>Para reiniciar el mapa, haga clic en el siguiente botón:</p>
                        <button class="tool-button reset">Reiniciar</button>
                    </section>

                </div>

            </div>
        </div>
    </div>

</body>
<script>


    var map_be448aef8317b899d267abc2768059e0 = L.map(
        "map_be448aef8317b899d267abc2768059e0",
        {
            center: [4.74, -71.0],
            crs: L.CRS.EPSG3857,
            maxBounds: [[-6, -100], [20, -40]],
            zoom: 6,
            zoomControl: true,
            preferCanvas: false,
        }
    );





    var tile_layer_65987cfe29e118a79451e0ddd05c0f56 = L.tileLayer(
        "https://cartodb-basemaps-{s}.global.ssl.fastly.net/light_all/{z}/{x}/{y}.png",
        { "attribution": "\u0026copy; \u003ca target=\"_blank\" href=\"http://www.openstreetmap.org/copyright\"\u003eOpenStreetMap\u003c/a\u003e contributors \u0026copy; \u003ca target=\"_blank\" href=\"http://cartodb.com/attributions\"\u003eCartoDB\u003c/a\u003e, CartoDB \u003ca target=\"_blank\" href =\"http://cartodb.com/attributions\"\u003eattributions\u003c/a\u003e", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 6, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false }
    ).addTo(map_be448aef8317b899d267abc2768059e0);


    var marker_9183348a98c6af75a9f567ae0290a613 = L.marker(
        [3.54322, -76.3816],
        { "name": "Aeropuerto Internacional Alfonso Bonilla Arag\u00f3n" }
    ).addTo(map_be448aef8317b899d267abc2768059e0);


    var icon_ec4f3aff3a0f9e79902327eaea9c872a = L.AwesomeMarkers.icon(
        { "extraClasses": "fa-rotate-0", "icon": "plane", "iconColor": "white", "markerColor": "gray", "prefix": "glyphicon" }
    );
    marker_9183348a98c6af75a9f567ae0290a613.setIcon(icon_ec4f3aff3a0f9e79902327eaea9c872a);


    var popup_f1532b8e02d61f0b51316b0a677e1052 = L.popup({ "maxWidth": "100%" });



    var html_1dd32752a5c91034a8c5c53a4a664008 = $(`<div id="html_1dd32752a5c91034a8c5c53a4a664008" style="width: 100.0%; height: 100.0%;">         <p><b>Aeropuerto:</b> Aeropuerto Internacional Alfonso Bonilla Aragón</p>         <p><b>Ubicación:</b> Cali</p>      </div>`)[0];
    popup_f1532b8e02d61f0b51316b0a677e1052.setContent(html_1dd32752a5c91034a8c5c53a4a664008);



    marker_9183348a98c6af75a9f567ae0290a613.bindPopup(popup_f1532b8e02d61f0b51316b0a677e1052)
        ;




    var marker_6fdbf4bbc29044697a62a8cc4934b356 = L.marker(
        [-4.19355, -69.9432],
        { "name": "Aeropuerto Internacional Alfredo V\u00e1squez Cobo" }
    ).addTo(map_be448aef8317b899d267abc2768059e0);


    var icon_e0f352e3e446e8003ea4f7da97276b42 = L.AwesomeMarkers.icon(
        { "extraClasses": "fa-rotate-0", "icon": "plane", "iconColor": "white", "markerColor": "gray", "prefix": "glyphicon" }
    );
    marker_6fdbf4bbc29044697a62a8cc4934b356.setIcon(icon_e0f352e3e446e8003ea4f7da97276b42);


    var popup_74046c57af9175b7fa1f5165f8587ddf = L.popup({ "maxWidth": "100%" });



    var html_877820038ba862ac0ac402479b5a0c35 = $(`<div id="html_877820038ba862ac0ac402479b5a0c35" style="width: 100.0%; height: 100.0%;">         <p><b>Aeropuerto:</b> Aeropuerto Internacional Alfredo Vásquez Cobo</p>         <p><b>Ubicación:</b> Leticia</p>      </div>`)[0];
    popup_74046c57af9175b7fa1f5165f8587ddf.setContent(html_877820038ba862ac0ac402479b5a0c35);



    marker_6fdbf4bbc29044697a62a8cc4934b356.bindPopup(popup_74046c57af9175b7fa1f5165f8587ddf)
        ;




    var marker_d4b1afcd0a9f5108cb2b2f6793661522 = L.marker(
        [7.92757, -72.5115],
        { "name": "Aeropuerto Internacional Camilo Daza" }
    ).addTo(map_be448aef8317b899d267abc2768059e0);


    var icon_b4d64d3890b882484155786722506634 = L.AwesomeMarkers.icon(
        { "extraClasses": "fa-rotate-0", "icon": "plane", "iconColor": "white", "markerColor": "gray", "prefix": "glyphicon" }
    );
    marker_d4b1afcd0a9f5108cb2b2f6793661522.setIcon(icon_b4d64d3890b882484155786722506634);


    var popup_e18dcf1daf9b6b467b977e09dd0e3a77 = L.popup({ "maxWidth": "100%" });



    var html_94814377b39d1beaed747c900655310a = $(`<div id="html_94814377b39d1beaed747c900655310a" style="width: 100.0%; height: 100.0%;">         <p><b>Aeropuerto:</b> Aeropuerto Internacional Camilo Daza</p>         <p><b>Ubicación:</b> Cúcuta</p>      </div>`)[0];
    popup_e18dcf1daf9b6b467b977e09dd0e3a77.setContent(html_94814377b39d1beaed747c900655310a);



    marker_d4b1afcd0a9f5108cb2b2f6793661522.bindPopup(popup_e18dcf1daf9b6b467b977e09dd0e3a77)
        ;




    var marker_c5cbbbe94351f0fd7542f0bb8c247165 = L.marker(
        [5.31911, -72.384],
        { "name": "Aeropuerto Internacional El Alcarav\u00e1n" }
    ).addTo(map_be448aef8317b899d267abc2768059e0);


    var icon_dbe23df18a50d621f9a73fd7652c595d = L.AwesomeMarkers.icon(
        { "extraClasses": "fa-rotate-0", "icon": "plane", "iconColor": "white", "markerColor": "gray", "prefix": "glyphicon" }
    );
    marker_c5cbbbe94351f0fd7542f0bb8c247165.setIcon(icon_dbe23df18a50d621f9a73fd7652c595d);


    var popup_10415426bb6766879a37a050dbf018d0 = L.popup({ "maxWidth": "100%" });



    var html_2abb4fc163184308a28d39fa8c3ac839 = $(`<div id="html_2abb4fc163184308a28d39fa8c3ac839" style="width: 100.0%; height: 100.0%;">         <p><b>Aeropuerto:</b> Aeropuerto Internacional El Alcaraván</p>         <p><b>Ubicación:</b> Yopal</p>      </div>`)[0];
    popup_10415426bb6766879a37a050dbf018d0.setContent(html_2abb4fc163184308a28d39fa8c3ac839);



    marker_c5cbbbe94351f0fd7542f0bb8c247165.bindPopup(popup_10415426bb6766879a37a050dbf018d0)
        ;




    var marker_998ad97f2cf6080713d3f66e4adab60c = L.marker(
        [4.70159, -74.1469],
        { "name": "Aeropuerto Internacional El Dorado" }
    ).addTo(map_be448aef8317b899d267abc2768059e0);


    var icon_2c7343f794c488b1b61211b86a0bea23 = L.AwesomeMarkers.icon(
        { "extraClasses": "fa-rotate-0", "icon": "plane", "iconColor": "white", "markerColor": "gray", "prefix": "glyphicon" }
    );
    marker_998ad97f2cf6080713d3f66e4adab60c.setIcon(icon_2c7343f794c488b1b61211b86a0bea23);


    var popup_12e184336f21fc335c112cd6984215cf = L.popup({ "maxWidth": "100%" });



    var html_56065a5f6a4cbea92bf6e57345d7360f = $(`<div id="html_56065a5f6a4cbea92bf6e57345d7360f" style="width: 100.0%; height: 100.0%;">         <p><b>Aeropuerto:</b> Aeropuerto Internacional El Dorado</p>         <p><b>Ubicación:</b> Bogota</p>      </div>`)[0];
    popup_12e184336f21fc335c112cd6984215cf.setContent(html_56065a5f6a4cbea92bf6e57345d7360f);



    marker_998ad97f2cf6080713d3f66e4adab60c.bindPopup(popup_12e184336f21fc335c112cd6984215cf)
        ;




    var marker_6371dced3c8b7125c4029a6f0bd24cd8 = L.marker(
        [4.45278, -75.7664],
        { "name": "Aeropuerto Internacional El Ed\u00e9n" }
    ).addTo(map_be448aef8317b899d267abc2768059e0);


    var icon_75358cca4be30953321908a9b96897de = L.AwesomeMarkers.icon(
        { "extraClasses": "fa-rotate-0", "icon": "plane", "iconColor": "white", "markerColor": "gray", "prefix": "glyphicon" }
    );
    marker_6371dced3c8b7125c4029a6f0bd24cd8.setIcon(icon_75358cca4be30953321908a9b96897de);


    var popup_f0a6f9d81150957255666ba2ce7730b4 = L.popup({ "maxWidth": "100%" });



    var html_ac9f2ccefece80b3c77ba9a2165f34ec = $(`<div id="html_ac9f2ccefece80b3c77ba9a2165f34ec" style="width: 100.0%; height: 100.0%;">         <p><b>Aeropuerto:</b> Aeropuerto Internacional El Edén</p>         <p><b>Ubicación:</b> Armenia</p>      </div>`)[0];
    popup_f0a6f9d81150957255666ba2ce7730b4.setContent(html_ac9f2ccefece80b3c77ba9a2165f34ec);



    marker_6371dced3c8b7125c4029a6f0bd24cd8.bindPopup(popup_f0a6f9d81150957255666ba2ce7730b4)
        ;




    var marker_42fe39d0ec5b5b86d7690706de92acc8 = L.marker(
        [10.8896, -74.7808],
        { "name": "Aeropuerto Internacional Ernesto Cortissoz" }
    ).addTo(map_be448aef8317b899d267abc2768059e0);


    var icon_2b5ce8f8cc6823e38040e56d10777101 = L.AwesomeMarkers.icon(
        { "extraClasses": "fa-rotate-0", "icon": "plane", "iconColor": "white", "markerColor": "gray", "prefix": "glyphicon" }
    );
    marker_42fe39d0ec5b5b86d7690706de92acc8.setIcon(icon_2b5ce8f8cc6823e38040e56d10777101);


    var popup_0cbb54f67db6039b4f0c7401c5468fe7 = L.popup({ "maxWidth": "100%" });



    var html_8dfaf6e0f44cb36189a49193fa180222 = $(`<div id="html_8dfaf6e0f44cb36189a49193fa180222" style="width: 100.0%; height: 100.0%;">         <p><b>Aeropuerto:</b> Aeropuerto Internacional Ernesto Cortissoz</p>         <p><b>Ubicación:</b> Barranquilla</p>      </div>`)[0];
    popup_0cbb54f67db6039b4f0c7401c5468fe7.setContent(html_8dfaf6e0f44cb36189a49193fa180222);



    marker_42fe39d0ec5b5b86d7690706de92acc8.bindPopup(popup_0cbb54f67db6039b4f0c7401c5468fe7)
        ;




    var marker_6c33de61411974eb6860b8e4167ebb4f = L.marker(
        [12.5836, -81.7112],
        { "name": "Aeropuerto Internacional Gustavo Rojas Pinilla" }
    ).addTo(map_be448aef8317b899d267abc2768059e0);


    var icon_77de67326d032f1d9505be546a5f50be = L.AwesomeMarkers.icon(
        { "extraClasses": "fa-rotate-0", "icon": "plane", "iconColor": "white", "markerColor": "gray", "prefix": "glyphicon" }
    );
    marker_6c33de61411974eb6860b8e4167ebb4f.setIcon(icon_77de67326d032f1d9505be546a5f50be);


    var popup_6134dc55427bc859375c1242ebae7d1d = L.popup({ "maxWidth": "100%" });



    var html_234b237520b7f329b6c11203825ded69 = $(`<div id="html_234b237520b7f329b6c11203825ded69" style="width: 100.0%; height: 100.0%;">         <p><b>Aeropuerto:</b> Aeropuerto Internacional Gustavo Rojas Pinilla</p>         <p><b>Ubicación:</b> San Andrés - Isla</p>      </div>`)[0];
    popup_6134dc55427bc859375c1242ebae7d1d.setContent(html_234b237520b7f329b6c11203825ded69);



    marker_6c33de61411974eb6860b8e4167ebb4f.bindPopup(popup_6134dc55427bc859375c1242ebae7d1d)
        ;




    var marker_da3039d91c57b689dff19b4b21b0861d = L.marker(
        [8.82374, -75.8258],
        { "name": "Aeropuerto Internacional Los Garzones" }
    ).addTo(map_be448aef8317b899d267abc2768059e0);


    var icon_7b496cb5924bf7a9c816aee119210406 = L.AwesomeMarkers.icon(
        { "extraClasses": "fa-rotate-0", "icon": "plane", "iconColor": "white", "markerColor": "gray", "prefix": "glyphicon" }
    );
    marker_da3039d91c57b689dff19b4b21b0861d.setIcon(icon_7b496cb5924bf7a9c816aee119210406);


    var popup_91e5041308ae4b5d0cf3a09857be32f9 = L.popup({ "maxWidth": "100%" });



    var html_d0e61791fd245307cdfdf1c06eaeb155 = $(`<div id="html_d0e61791fd245307cdfdf1c06eaeb155" style="width: 100.0%; height: 100.0%;">         <p><b>Aeropuerto:</b> Aeropuerto Internacional Los Garzones</p>         <p><b>Ubicación:</b> Montería</p>      </div>`)[0];
    popup_91e5041308ae4b5d0cf3a09857be32f9.setContent(html_d0e61791fd245307cdfdf1c06eaeb155);



    marker_da3039d91c57b689dff19b4b21b0861d.bindPopup(popup_91e5041308ae4b5d0cf3a09857be32f9)
        ;




    var marker_a61102d3e5a52d1ff52f6167062ec27f = L.marker(
        [4.81267, -75.7395],
        { "name": "Aeropuerto Internacional Mateca\u00f1a" }
    ).addTo(map_be448aef8317b899d267abc2768059e0);


    var icon_d4b27ac66a9f1183e3ee1072b4866ee9 = L.AwesomeMarkers.icon(
        { "extraClasses": "fa-rotate-0", "icon": "plane", "iconColor": "white", "markerColor": "gray", "prefix": "glyphicon" }
    );
    marker_a61102d3e5a52d1ff52f6167062ec27f.setIcon(icon_d4b27ac66a9f1183e3ee1072b4866ee9);


    var popup_14fa4d8082084f475b8fd13c07460532 = L.popup({ "maxWidth": "100%" });



    var html_c9467eafbed31b4f0cbece5f86759a67 = $(`<div id="html_c9467eafbed31b4f0cbece5f86759a67" style="width: 100.0%; height: 100.0%;">         <p><b>Aeropuerto:</b> Aeropuerto Internacional Matecaña</p>         <p><b>Ubicación:</b> Pereira</p>      </div>`)[0];
    popup_14fa4d8082084f475b8fd13c07460532.setContent(html_c9467eafbed31b4f0cbece5f86759a67);



    marker_a61102d3e5a52d1ff52f6167062ec27f.bindPopup(popup_14fa4d8082084f475b8fd13c07460532)
        ;




    var marker_d4a841afb97f11c360dbea302beea158 = L.marker(
        [7.1265, -73.1848],
        { "name": "Aeropuerto Internacional Palonegro" }
    ).addTo(map_be448aef8317b899d267abc2768059e0);


    var icon_8042251c91fe30fdc860dc9d810db3fc = L.AwesomeMarkers.icon(
        { "extraClasses": "fa-rotate-0", "icon": "plane", "iconColor": "white", "markerColor": "gray", "prefix": "glyphicon" }
    );
    marker_d4a841afb97f11c360dbea302beea158.setIcon(icon_8042251c91fe30fdc860dc9d810db3fc);


    var popup_7aaeb34c8ed20b92c4fc968186876332 = L.popup({ "maxWidth": "100%" });



    var html_8a5408b4d7caca12b6c3b3df9384012b = $(`<div id="html_8a5408b4d7caca12b6c3b3df9384012b" style="width: 100.0%; height: 100.0%;">         <p><b>Aeropuerto:</b> Aeropuerto Internacional Palonegro</p>         <p><b>Ubicación:</b> Bucaramanga</p>      </div>`)[0];
    popup_7aaeb34c8ed20b92c4fc968186876332.setContent(html_8a5408b4d7caca12b6c3b3df9384012b);



    marker_d4a841afb97f11c360dbea302beea158.bindPopup(popup_7aaeb34c8ed20b92c4fc968186876332)
        ;




    var marker_f07ce7917092a622a119fc173a758080 = L.marker(
        [10.4424, -75.513],
        { "name": "Aeropuerto Internacional Rafael N\u00fa\u00f1ez" }
    ).addTo(map_be448aef8317b899d267abc2768059e0);


    var icon_8e5b13ad8a7e83a278ffab451127bfc2 = L.AwesomeMarkers.icon(
        { "extraClasses": "fa-rotate-0", "icon": "plane", "iconColor": "white", "markerColor": "gray", "prefix": "glyphicon" }
    );
    marker_f07ce7917092a622a119fc173a758080.setIcon(icon_8e5b13ad8a7e83a278ffab451127bfc2);


    var popup_f0a1e287ef0556d0892d40315260007a = L.popup({ "maxWidth": "100%" });



    var html_229ce39faff0cd6dad68ae12dd09d8ca = $(`<div id="html_229ce39faff0cd6dad68ae12dd09d8ca" style="width: 100.0%; height: 100.0%;">         <p><b>Aeropuerto:</b> Aeropuerto Internacional Rafael Núñez</p>         <p><b>Ubicación:</b> Cartagena</p>      </div>`)[0];
    popup_f0a1e287ef0556d0892d40315260007a.setContent(html_229ce39faff0cd6dad68ae12dd09d8ca);



    marker_f07ce7917092a622a119fc173a758080.bindPopup(popup_f0a1e287ef0556d0892d40315260007a)
        ;




    var marker_7b26519191fc2692358929190d00eb01 = L.marker(
        [11.1196, -74.2306],
        { "name": "Aeropuerto Internacional Sim\u00f3n Bol\u00edvar" }
    ).addTo(map_be448aef8317b899d267abc2768059e0);


    var icon_aafa881a4b4858db3a79706f8ed369d8 = L.AwesomeMarkers.icon(
        { "extraClasses": "fa-rotate-0", "icon": "plane", "iconColor": "white", "markerColor": "gray", "prefix": "glyphicon" }
    );
    marker_7b26519191fc2692358929190d00eb01.setIcon(icon_aafa881a4b4858db3a79706f8ed369d8);


    var popup_c70ac8fddcf7421b0645ebcaaf330517 = L.popup({ "maxWidth": "100%" });



    var html_ed93aef673ea46394b37991e1f61886e = $(`<div id="html_ed93aef673ea46394b37991e1f61886e" style="width: 100.0%; height: 100.0%;">         <p><b>Aeropuerto:</b> Aeropuerto Internacional Simón Bolívar</p>         <p><b>Ubicación:</b> Santa Marta</p>      </div>`)[0];
    popup_c70ac8fddcf7421b0645ebcaaf330517.setContent(html_ed93aef673ea46394b37991e1f61886e);



    marker_7b26519191fc2692358929190d00eb01.bindPopup(popup_c70ac8fddcf7421b0645ebcaaf330517)
        ;




    var marker_e9036dca643c8775184f7b64202e3b8e = L.marker(
        [10.435, -73.2495],
        { "name": "Alfonso Lopez Pumarejo" }
    ).addTo(map_be448aef8317b899d267abc2768059e0);


    var icon_3697fc5e2362f70d78b63e6ad74aea1d = L.AwesomeMarkers.icon(
        { "extraClasses": "fa-rotate-0", "icon": "plane", "iconColor": "white", "markerColor": "gray", "prefix": "glyphicon" }
    );
    marker_e9036dca643c8775184f7b64202e3b8e.setIcon(icon_3697fc5e2362f70d78b63e6ad74aea1d);


    var popup_962b550e9a64d1837d03668f0c0011b0 = L.popup({ "maxWidth": "100%" });



    var html_372b01d346c8daea0806aa3910a160c5 = $(`<div id="html_372b01d346c8daea0806aa3910a160c5" style="width: 100.0%; height: 100.0%;">         <p><b>Aeropuerto:</b> Alfonso Lopez Pumarejo</p>         <p><b>Ubicación:</b> Valledupar</p>      </div>`)[0];
    popup_962b550e9a64d1837d03668f0c0011b0.setContent(html_372b01d346c8daea0806aa3910a160c5);



    marker_e9036dca643c8775184f7b64202e3b8e.bindPopup(popup_962b550e9a64d1837d03668f0c0011b0)
        ;




    var marker_76b1a1ce0d71900dbad7211f98632ff0 = L.marker(
        [11.5262, -72.926],
        { "name": "Almirante Padilla" }
    ).addTo(map_be448aef8317b899d267abc2768059e0);


    var icon_22dfb86c922c4c15e28ea62898624cb3 = L.AwesomeMarkers.icon(
        { "extraClasses": "fa-rotate-0", "icon": "plane", "iconColor": "white", "markerColor": "gray", "prefix": "glyphicon" }
    );
    marker_76b1a1ce0d71900dbad7211f98632ff0.setIcon(icon_22dfb86c922c4c15e28ea62898624cb3);


    var popup_32b45c9cc24b221dbfda8afcc99e44ba = L.popup({ "maxWidth": "100%" });



    var html_f57e398a490968fa1d9d43d6ae320211 = $(`<div id="html_f57e398a490968fa1d9d43d6ae320211" style="width: 100.0%; height: 100.0%;">         <p><b>Aeropuerto:</b> Almirante Padilla</p>         <p><b>Ubicación:</b> Riohacha</p>      </div>`)[0];
    popup_32b45c9cc24b221dbfda8afcc99e44ba.setContent(html_f57e398a490968fa1d9d43d6ae320211);



    marker_76b1a1ce0d71900dbad7211f98632ff0.bindPopup(popup_32b45c9cc24b221dbfda8afcc99e44ba)
        ;




    var marker_ffde53703be9ae5b42787089ed0456c1 = L.marker(
        [1.39625, -77.2915],
        { "name": "Antonio Nari\u00f1o" }
    ).addTo(map_be448aef8317b899d267abc2768059e0);


    var icon_93bd542c7351f4a3cdddfc1d43e12e4b = L.AwesomeMarkers.icon(
        { "extraClasses": "fa-rotate-0", "icon": "plane", "iconColor": "white", "markerColor": "gray", "prefix": "glyphicon" }
    );
    marker_ffde53703be9ae5b42787089ed0456c1.setIcon(icon_93bd542c7351f4a3cdddfc1d43e12e4b);


    var popup_caa43ec9c86e2e15544865aefdda6474 = L.popup({ "maxWidth": "100%" });



    var html_3c0d46057b16bc69138fd7678cad8d34 = $(`<div id="html_3c0d46057b16bc69138fd7678cad8d34" style="width: 100.0%; height: 100.0%;">         <p><b>Aeropuerto:</b> Antonio Nariño</p>         <p><b>Ubicación:</b> Pasto</p>      </div>`)[0];
    popup_caa43ec9c86e2e15544865aefdda6474.setContent(html_3c0d46057b16bc69138fd7678cad8d34);



    marker_ffde53703be9ae5b42787089ed0456c1.bindPopup(popup_caa43ec9c86e2e15544865aefdda6474)
        ;




    var marker_f6be54c3676f20395bbbcf49f9da0a80 = L.marker(
        [2.95015, -75.294],
        { "name": "Benito Salas Vargas" }
    ).addTo(map_be448aef8317b899d267abc2768059e0);


    var icon_7a2c437a86c583c76f8675da07811d78 = L.AwesomeMarkers.icon(
        { "extraClasses": "fa-rotate-0", "icon": "plane", "iconColor": "white", "markerColor": "gray", "prefix": "glyphicon" }
    );
    marker_f6be54c3676f20395bbbcf49f9da0a80.setIcon(icon_7a2c437a86c583c76f8675da07811d78);


    var popup_cc7c5479fc74fd43d63da9426e1a80f9 = L.popup({ "maxWidth": "100%" });



    var html_b0b0f5eab6f273970f5558a616a1948f = $(`<div id="html_b0b0f5eab6f273970f5558a616a1948f" style="width: 100.0%; height: 100.0%;">         <p><b>Aeropuerto:</b> Benito Salas Vargas</p>         <p><b>Ubicación:</b> Neiva</p>      </div>`)[0];
    popup_cc7c5479fc74fd43d63da9426e1a80f9.setContent(html_b0b0f5eab6f273970f5558a616a1948f);



    marker_f6be54c3676f20395bbbcf49f9da0a80.bindPopup(popup_cc7c5479fc74fd43d63da9426e1a80f9)
        ;




    var marker_6ac0daffd54bbd5149bffbd5b122e8b1 = L.marker(
        [3.85353, -67.9062],
        { "name": "C\u00e9sar Gaviria Trujillo" }
    ).addTo(map_be448aef8317b899d267abc2768059e0);


    var icon_189b9613e3e74f1d7879c15db2c8678a = L.AwesomeMarkers.icon(
        { "extraClasses": "fa-rotate-0", "icon": "plane", "iconColor": "white", "markerColor": "gray", "prefix": "glyphicon" }
    );
    marker_6ac0daffd54bbd5149bffbd5b122e8b1.setIcon(icon_189b9613e3e74f1d7879c15db2c8678a);


    var popup_633105a7c790ed6774f70c86bb3bd43d = L.popup({ "maxWidth": "100%" });



    var html_2b2073feb841553632cb16794f8ba4f5 = $(`<div id="html_2b2073feb841553632cb16794f8ba4f5" style="width: 100.0%; height: 100.0%;">         <p><b>Aeropuerto:</b> César Gaviria Trujillo</p>         <p><b>Ubicación:</b> Puerto Inírida</p>      </div>`)[0];
    popup_633105a7c790ed6774f70c86bb3bd43d.setContent(html_2b2073feb841553632cb16794f8ba4f5);



    marker_6ac0daffd54bbd5149bffbd5b122e8b1.bindPopup(popup_633105a7c790ed6774f70c86bb3bd43d)
        ;




    var marker_66468dd8049af1a52d85edba162aeb8c = L.marker(
        [5.69076, -76.6412],
        { "name": "El Cara\u00f1o" }
    ).addTo(map_be448aef8317b899d267abc2768059e0);


    var icon_b2fda74c9a623386f773c31a81dd45e6 = L.AwesomeMarkers.icon(
        { "extraClasses": "fa-rotate-0", "icon": "plane", "iconColor": "white", "markerColor": "gray", "prefix": "glyphicon" }
    );
    marker_66468dd8049af1a52d85edba162aeb8c.setIcon(icon_b2fda74c9a623386f773c31a81dd45e6);


    var popup_84c698d4734a06123b9a2d61bb187f18 = L.popup({ "maxWidth": "100%" });



    var html_e09f3e6878892daecebf7a78706a13dc = $(`<div id="html_e09f3e6878892daecebf7a78706a13dc" style="width: 100.0%; height: 100.0%;">         <p><b>Aeropuerto:</b> El Caraño</p>         <p><b>Ubicación:</b> Quibdó</p>      </div>`)[0];
    popup_84c698d4734a06123b9a2d61bb187f18.setContent(html_e09f3e6878892daecebf7a78706a13dc);



    marker_66468dd8049af1a52d85edba162aeb8c.bindPopup(popup_84c698d4734a06123b9a2d61bb187f18)
        ;




    var marker_7a330fe0bed155e398989a05e09eee07 = L.marker(
        [1.25366, -70.2339],
        { "name": "Fabio Alberto Le\u00f3n Bentley" }
    ).addTo(map_be448aef8317b899d267abc2768059e0);


    var icon_b98f98f24355438582c1f3d1394029a9 = L.AwesomeMarkers.icon(
        { "extraClasses": "fa-rotate-0", "icon": "plane", "iconColor": "white", "markerColor": "gray", "prefix": "glyphicon" }
    );
    marker_7a330fe0bed155e398989a05e09eee07.setIcon(icon_b98f98f24355438582c1f3d1394029a9);


    var popup_fc6cd6c71d4161f7211ef9d6979da01b = L.popup({ "maxWidth": "100%" });



    var html_aca3ead5fbe96edd57ad97b0aa098cad = $(`<div id="html_aca3ead5fbe96edd57ad97b0aa098cad" style="width: 100.0%; height: 100.0%;">         <p><b>Aeropuerto:</b> Fabio Alberto León Bentley</p>         <p><b>Ubicación:</b> Mitú</p>      </div>`)[0];
    popup_fc6cd6c71d4161f7211ef9d6979da01b.setContent(html_aca3ead5fbe96edd57ad97b0aa098cad);



    marker_7a330fe0bed155e398989a05e09eee07.bindPopup(popup_fc6cd6c71d4161f7211ef9d6979da01b)
        ;




    var marker_9007db598991fe920a83d274d4be477f = L.marker(
        [6.18472, -67.4932],
        { "name": "Germ\u00e1n Olano" }
    ).addTo(map_be448aef8317b899d267abc2768059e0);


    var icon_8d020d0968d245d1ead8140aefd293d8 = L.AwesomeMarkers.icon(
        { "extraClasses": "fa-rotate-0", "icon": "plane", "iconColor": "white", "markerColor": "gray", "prefix": "glyphicon" }
    );
    marker_9007db598991fe920a83d274d4be477f.setIcon(icon_8d020d0968d245d1ead8140aefd293d8);


    var popup_95510126d35593d6618653ba9d40500c = L.popup({ "maxWidth": "100%" });



    var html_07515b82a39518f5e14136eec1d1cdff = $(`<div id="html_07515b82a39518f5e14136eec1d1cdff" style="width: 100.0%; height: 100.0%;">         <p><b>Aeropuerto:</b> Germán Olano</p>         <p><b>Ubicación:</b> Puerto Carreño</p>      </div>`)[0];
    popup_95510126d35593d6618653ba9d40500c.setContent(html_07515b82a39518f5e14136eec1d1cdff);



    marker_9007db598991fe920a83d274d4be477f.bindPopup(popup_95510126d35593d6618653ba9d40500c)
        ;




    var marker_3d1f9edf3a3acd4e51f7d31b0713ea82 = L.marker(
        [2.4544, -76.6093],
        { "name": "Guillermo Le\u00f3n Valencia" }
    ).addTo(map_be448aef8317b899d267abc2768059e0);


    var icon_96662674f1300a33b30c5f6a665b420d = L.AwesomeMarkers.icon(
        { "extraClasses": "fa-rotate-0", "icon": "plane", "iconColor": "white", "markerColor": "gray", "prefix": "glyphicon" }
    );
    marker_3d1f9edf3a3acd4e51f7d31b0713ea82.setIcon(icon_96662674f1300a33b30c5f6a665b420d);


    var popup_452a34aee7bc90b1bff6ec4833f72ca1 = L.popup({ "maxWidth": "100%" });



    var html_b3bb7fe0e4b7d8b5f64de939801b76a8 = $(`<div id="html_b3bb7fe0e4b7d8b5f64de939801b76a8" style="width: 100.0%; height: 100.0%;">         <p><b>Aeropuerto:</b> Guillermo León Valencia</p>         <p><b>Ubicación:</b> Popayán</p>      </div>`)[0];
    popup_452a34aee7bc90b1bff6ec4833f72ca1.setContent(html_b3bb7fe0e4b7d8b5f64de939801b76a8);



    marker_3d1f9edf3a3acd4e51f7d31b0713ea82.bindPopup(popup_452a34aee7bc90b1bff6ec4833f72ca1)
        ;




    var marker_21eb56d7f7779c4eee98ab16894f7d48 = L.marker(
        [1.58919, -75.5644],
        { "name": "Gustavo Artunduaga Paredes" }
    ).addTo(map_be448aef8317b899d267abc2768059e0);


    var icon_fe4d62be966e164c07cbcef0335669e6 = L.AwesomeMarkers.icon(
        { "extraClasses": "fa-rotate-0", "icon": "plane", "iconColor": "white", "markerColor": "gray", "prefix": "glyphicon" }
    );
    marker_21eb56d7f7779c4eee98ab16894f7d48.setIcon(icon_fe4d62be966e164c07cbcef0335669e6);


    var popup_d11f68451a0e3003d5b8c4e2c5266bd3 = L.popup({ "maxWidth": "100%" });



    var html_c032dad76e963eca4fca3906838d033a = $(`<div id="html_c032dad76e963eca4fca3906838d033a" style="width: 100.0%; height: 100.0%;">         <p><b>Aeropuerto:</b> Gustavo Artunduaga Paredes</p>         <p><b>Ubicación:</b> Florencia</p>      </div>`)[0];
    popup_d11f68451a0e3003d5b8c4e2c5266bd3.setContent(html_c032dad76e963eca4fca3906838d033a);



    marker_21eb56d7f7779c4eee98ab16894f7d48.bindPopup(popup_d11f68451a0e3003d5b8c4e2c5266bd3)
        ;




    var marker_46aed35946e481b4abd0a703263c9296 = L.marker(
        [2.57969, -72.6394],
        { "name": "Jorge Enrique Gonz\u00e1lez" }
    ).addTo(map_be448aef8317b899d267abc2768059e0);


    var icon_792d77bbdd3b38d1dea3d6e363220362 = L.AwesomeMarkers.icon(
        { "extraClasses": "fa-rotate-0", "icon": "plane", "iconColor": "white", "markerColor": "gray", "prefix": "glyphicon" }
    );
    marker_46aed35946e481b4abd0a703263c9296.setIcon(icon_792d77bbdd3b38d1dea3d6e363220362);


    var popup_c0a3b37c90a20f4c2fc2667a2087c011 = L.popup({ "maxWidth": "100%" });



    var html_11b418ba5ed7174493b0a4d85c42976e = $(`<div id="html_11b418ba5ed7174493b0a4d85c42976e" style="width: 100.0%; height: 100.0%;">         <p><b>Aeropuerto:</b> Jorge Enrique González</p>         <p><b>Ubicación:</b> San José Del Guaviare</p>      </div>`)[0];
    popup_c0a3b37c90a20f4c2fc2667a2087c011.setContent(html_11b418ba5ed7174493b0a4d85c42976e);



    marker_46aed35946e481b4abd0a703263c9296.bindPopup(popup_c0a3b37c90a20f4c2fc2667a2087c011)
        ;




    var marker_bd9db6d9368c9de27bb966dd8b68a383 = L.marker(
        [5.0296, -75.4647],
        { "name": "La Nubia" }
    ).addTo(map_be448aef8317b899d267abc2768059e0);


    var icon_ea4c76f62b3637a9b530a901e26471c8 = L.AwesomeMarkers.icon(
        { "extraClasses": "fa-rotate-0", "icon": "plane", "iconColor": "white", "markerColor": "gray", "prefix": "glyphicon" }
    );
    marker_bd9db6d9368c9de27bb966dd8b68a383.setIcon(icon_ea4c76f62b3637a9b530a901e26471c8);


    var popup_bdcc93f12c4e5a23efd94d71fb97e63a = L.popup({ "maxWidth": "100%" });



    var html_043d92eb2acedfbeb676f9dd8cf33eac = $(`<div id="html_043d92eb2acedfbeb676f9dd8cf33eac" style="width: 100.0%; height: 100.0%;">         <p><b>Aeropuerto:</b> La Nubia</p>         <p><b>Ubicación:</b> Manizales</p>      </div>`)[0];
    popup_bdcc93f12c4e5a23efd94d71fb97e63a.setContent(html_043d92eb2acedfbeb676f9dd8cf33eac);



    marker_bd9db6d9368c9de27bb966dd8b68a383.bindPopup(popup_bdcc93f12c4e5a23efd94d71fb97e63a)
        ;




    var marker_d9f867e235838400f6a50cf300b6cbe1 = L.marker(
        [6.220549, -75.590582],
        { "name": "Olaya Herrera" }
    ).addTo(map_be448aef8317b899d267abc2768059e0);


    var icon_a3ea5d6c7c0f2ebc4b377cc2b4cb9b22 = L.AwesomeMarkers.icon(
        { "extraClasses": "fa-rotate-0", "icon": "plane", "iconColor": "white", "markerColor": "gray", "prefix": "glyphicon" }
    );
    marker_d9f867e235838400f6a50cf300b6cbe1.setIcon(icon_a3ea5d6c7c0f2ebc4b377cc2b4cb9b22);


    var popup_8d8a2ed4788bdd5b201811e81ef8f4a0 = L.popup({ "maxWidth": "100%" });



    var html_5b175fa4cf2ed9cb825b070360493d4f = $(`<div id="html_5b175fa4cf2ed9cb825b070360493d4f" style="width: 100.0%; height: 100.0%;">         <p><b>Aeropuerto:</b> Olaya Herrera</p>         <p><b>Ubicación:</b> Medellín</p>      </div>`)[0];
    popup_8d8a2ed4788bdd5b201811e81ef8f4a0.setContent(html_5b175fa4cf2ed9cb825b070360493d4f);



    marker_d9f867e235838400f6a50cf300b6cbe1.bindPopup(popup_8d8a2ed4788bdd5b201811e81ef8f4a0)
        ;




    var marker_952c3c28411b1dada14b4982f975ef9a = L.marker(
        [4.42161, -75.1333],
        { "name": "Perales" }
    ).addTo(map_be448aef8317b899d267abc2768059e0);


    var icon_3987580805807ff60062510221fbf26a = L.AwesomeMarkers.icon(
        { "extraClasses": "fa-rotate-0", "icon": "plane", "iconColor": "white", "markerColor": "gray", "prefix": "glyphicon" }
    );
    marker_952c3c28411b1dada14b4982f975ef9a.setIcon(icon_3987580805807ff60062510221fbf26a);


    var popup_c25270e7492799c82a90f9d4e7b13931 = L.popup({ "maxWidth": "100%" });



    var html_f927e1097a29f97aa093119d22de38e4 = $(`<div id="html_f927e1097a29f97aa093119d22de38e4" style="width: 100.0%; height: 100.0%;">         <p><b>Aeropuerto:</b> Perales</p>         <p><b>Ubicación:</b> Ibagué</p>      </div>`)[0];
    popup_c25270e7492799c82a90f9d4e7b13931.setContent(html_f927e1097a29f97aa093119d22de38e4);



    marker_952c3c28411b1dada14b4982f975ef9a.bindPopup(popup_c25270e7492799c82a90f9d4e7b13931)
        ;




    var marker_9f9344aae8239e60f53ace98d7c88497 = L.marker(
        [7.06888, -70.7369],
        { "name": "Santiago P\u00e9rez Quiroz" }
    ).addTo(map_be448aef8317b899d267abc2768059e0);


    var icon_4a4dd210a6bb3ca29a9769cf87154db0 = L.AwesomeMarkers.icon(
        { "extraClasses": "fa-rotate-0", "icon": "plane", "iconColor": "white", "markerColor": "gray", "prefix": "glyphicon" }
    );
    marker_9f9344aae8239e60f53ace98d7c88497.setIcon(icon_4a4dd210a6bb3ca29a9769cf87154db0);


    var popup_1817c3280a0cce0f912d932b5d79855f = L.popup({ "maxWidth": "100%" });



    var html_0a5c2bc286c6b1ab3a10645d8f746e5e = $(`<div id="html_0a5c2bc286c6b1ab3a10645d8f746e5e" style="width: 100.0%; height: 100.0%;">         <p><b>Aeropuerto:</b> Santiago Pérez Quiroz</p>         <p><b>Ubicación:</b> Arauca</p>      </div>`)[0];
    popup_1817c3280a0cce0f912d932b5d79855f.setContent(html_0a5c2bc286c6b1ab3a10645d8f746e5e);



    marker_9f9344aae8239e60f53ace98d7c88497.bindPopup(popup_1817c3280a0cce0f912d932b5d79855f)
        ;




    var marker_f80e1701a8e741dafd6643070626c781 = L.marker(
        [4.16787, -73.6138],
        { "name": "Vanguardia" }
    ).addTo(map_be448aef8317b899d267abc2768059e0);


    var icon_4be6107b4925b46d5e068d32a3acb18f = L.AwesomeMarkers.icon(
        { "extraClasses": "fa-rotate-0", "icon": "plane", "iconColor": "white", "markerColor": "gray", "prefix": "glyphicon" }
    );
    marker_f80e1701a8e741dafd6643070626c781.setIcon(icon_4be6107b4925b46d5e068d32a3acb18f);


    var popup_cd101778848e2b739b537a9df134bc22 = L.popup({ "maxWidth": "100%" });



    var html_47414ba57bfd058fdcbf52856f1d46c8 = $(`<div id="html_47414ba57bfd058fdcbf52856f1d46c8" style="width: 100.0%; height: 100.0%;">         <p><b>Aeropuerto:</b> Vanguardia</p>         <p><b>Ubicación:</b> Villavicencio</p>      </div>`)[0];
    popup_cd101778848e2b739b537a9df134bc22.setContent(html_47414ba57bfd058fdcbf52856f1d46c8);



    marker_f80e1701a8e741dafd6643070626c781.bindPopup(popup_cd101778848e2b739b537a9df134bc22)
        ;




    var marker_9315b59aaab0291713b0d0551387e20a = L.marker(
        [5.5436994, -73.3433583942015],
        { "name": "Aeropuerto General Gustavo Rojas Pinilla de Tunja" }
    ).addTo(map_be448aef8317b899d267abc2768059e0);


    var icon_f6cd5bfd32a0901310d70d268ecb2082 = L.AwesomeMarkers.icon(
        { "extraClasses": "fa-rotate-0", "icon": "plane", "iconColor": "white", "markerColor": "gray", "prefix": "glyphicon" }
    );
    marker_9315b59aaab0291713b0d0551387e20a.setIcon(icon_f6cd5bfd32a0901310d70d268ecb2082);


    var popup_a75200ebcd88a5654a3ce1b40675377d = L.popup({ "maxWidth": "100%" });



    var html_bd42021b441de97a2ec4abad8dcfc2b0 = $(`<div id="html_bd42021b441de97a2ec4abad8dcfc2b0" style="width: 100.0%; height: 100.0%;">         <p><b>Aeropuerto:</b> Aeropuerto General Gustavo Rojas Pinilla de Tunja</p>         <p><b>Ubicación:</b> Tunja</p>      </div>`)[0];
    popup_a75200ebcd88a5654a3ce1b40675377d.setContent(html_bd42021b441de97a2ec4abad8dcfc2b0);



    marker_9315b59aaab0291713b0d0551387e20a.bindPopup(popup_a75200ebcd88a5654a3ce1b40675377d)
        ;




    var marker_4ae783a884c9ac7f5e261ac38c8a90fd = L.marker(
        [9.33274, -75.2856],
        { "name": "Las Brujas" }
    ).addTo(map_be448aef8317b899d267abc2768059e0);


    var icon_69a28cf3ffb7e8f01ef3b35fdf02ac22 = L.AwesomeMarkers.icon(
        { "extraClasses": "fa-rotate-0", "icon": "plane", "iconColor": "white", "markerColor": "gray", "prefix": "glyphicon" }
    );
    marker_4ae783a884c9ac7f5e261ac38c8a90fd.setIcon(icon_69a28cf3ffb7e8f01ef3b35fdf02ac22);


    var popup_251868fb71f926a3ae59fd2650eb0dee = L.popup({ "maxWidth": "100%" });



    var html_b8cbe01d0767d33a30195aef74c85f64 = $(`<div id="html_b8cbe01d0767d33a30195aef74c85f64" style="width: 100.0%; height: 100.0%;">         <p><b>Aeropuerto:</b> Las Brujas</p>         <p><b>Ubicación:</b> Corozal</p>      </div>`)[0];
    popup_251868fb71f926a3ae59fd2650eb0dee.setContent(html_b8cbe01d0767d33a30195aef74c85f64);



    marker_4ae783a884c9ac7f5e261ac38c8a90fd.bindPopup(popup_251868fb71f926a3ae59fd2650eb0dee)
        ;




    var marker_f3768d69799878af3f1c5716948e1547 = L.marker(
        [0.98126905, -76.6042239840167],
        { "name": "Aeropuerto de Cananguchal" }
    ).addTo(map_be448aef8317b899d267abc2768059e0);


    var icon_cb4b65707705a47a9313b97e855566bc = L.AwesomeMarkers.icon(
        { "extraClasses": "fa-rotate-0", "icon": "plane", "iconColor": "white", "markerColor": "gray", "prefix": "glyphicon" }
    );
    marker_f3768d69799878af3f1c5716948e1547.setIcon(icon_cb4b65707705a47a9313b97e855566bc);


    var popup_4e33d8474918e9fc74fcfe7fd57b6df2 = L.popup({ "maxWidth": "100%" });



    var html_d5cd60eeca51a726e010a2ff7440b472 = $(`<div id="html_d5cd60eeca51a726e010a2ff7440b472" style="width: 100.0%; height: 100.0%;">         <p><b>Aeropuerto:</b> Aeropuerto de Cananguchal</p>         <p><b>Ubicación:</b> Mocoa</p>      </div>`)[0];
    popup_4e33d8474918e9fc74fcfe7fd57b6df2.setContent(html_d5cd60eeca51a726e010a2ff7440b472);



    marker_f3768d69799878af3f1c5716948e1547.bindPopup(popup_4e33d8474918e9fc74fcfe7fd57b6df2)
        ;



</script>

<!-- IMPORTS -->
<script src="../static/js/leaflet.polylineDecorator.js"></script>
<script src="../static/js/leaflet.textpath.js"></script>

<!-- MY SCRIPTS -->
<script src="../static/js/graph.js"></script>
<script src="../static/js/panel.js"></script>
<script src="../static/js/main.js"></script>

</html>